In [1]:
from mira.sources.amr.petrinet import model_from_json_file
from mira.metamodel.comparison import get_concept_comparison_table

modelA = model_from_json_file('ModelA_base_petri.json')
modelB = model_from_json_file('ModelB_base_petri.json')
modelC = model_from_json_file('ModelC_base_petri.json')

## Model A vs B

In [15]:
AvsB = get_concept_comparison_table(model1=modelA, model2=modelB, use_full_name=False, keep_unmatched=True, longest_on_rows=True)
AvsB

    S_h Q E_h I_r  R I_h E_r S_r
S_l   >
E_h         =
S_r                            =
I2                     >
I_r             =
H                      >
E_r                        =
S_h   >
R_h                =
P                      >
I1                     >
R_r

## Model A vs C

In [16]:
AvsC = get_concept_comparison_table(model1=modelA, model2=modelC, use_full_name=False, keep_unmatched=True, longest_on_rows=True)
AvsC

    S_m E_m I_m I_w S_w E_w R_m R_w
S_l
E_h       <               <
S_r
I2
I_r
H
E_r
S_h
R_h                           <   <
P
I1
R_r

## Model B vs C

In [17]:
BvsC = get_concept_comparison_table(model1=modelB, model2=modelC, use_full_name=False, keep_unmatched=True, longest_on_rows=True)
BvsC

    S_h Q E_h I_r  R I_h E_r S_r
S_m   <
E_m         <
I_m                    <
I_w                    <
S_w   <
E_w         <
R_m                <
R_w                <